*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 2rem;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    background: lightblue;
}

.button{
    height: 5rem;
    width: 10rem;
}

.single{
    height: 20rem;
    width: 20rem;
    border: solid black;
}